<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A2C2659289B2CF100DD8EBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A2C2660289B2CF100DD8EBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A88E25628985D0E002E02AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A88E2652898602A002E02AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A88E2732898639D002E02AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A88E27A2898639D002E02AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
